header{
    display:grid;
    text-align:center;
    justify-content: center;
    align-self: center;
    background-color: yellow;
}
#header_img{
    grid-column: 1;
    grid-row: 1 / 3;
    width: 200px;
}
#website_header{
    grid-column: 2;
    grid-row: 1/2;
}
#article-header{
    grid-column: 2;
    grid-row: 2/3;
}